@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Assistant:wght@400;700&family=Hind+Vadodara:wght@400;600&family=Mate+SC&family=Poppins:wght@400;600&family=Sorts+Mill+Goudy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Assistant:wght@400;700&family=Hind+Vadodara:wght@400;600&family=Mate+SC&family=Poppins:wght@400;600&family=Sorts+Mill+Goudy&display=swap");
#ancorNav, .contenedorServicios a, .listaDePlanes ul li, .otrosServicios a {
  text-decoration: none;
  color: black;
}

#ancorNav:hover, .contenedorServicios p:hover, .otrosServicios a p:hover {
  color: #ff0a54;
  -webkit-transition: 1s;
  transition: 1s;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: radial-gradient(circle, #fff1e6 10%, #e8dbc8 87%);
  width: 100%;
}

.linksNavegacion {
  background-color: #e8dbc8;
  border-radius: 30px;
  width: 60%;
  -webkit-box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.6);
  list-style: none;
  margin-right: 5rem;
}

#ancorNav {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Hind Vadodara', sans-serif;
}

.logoPrincipal {
  border-radius: 8px;
  height: 60px;
  width: 7rem;
  margin-left: 2rem;
}

footer {
  background-color: #223843;
  color: white;
}

body {
  background-color: #fff1e6;
}

h1 {
  font-family: 'Mate SC', serif;
  font-size: 50px;
  text-align: center;
  color: #223843;
  width: 100%;
  background-color: none;
}

h2, h3, h4 {
  font-family: 'Mate SC', serif;
  font-size: 40px;
  text-align: center;
  color: #fff1e6;
  width: 100%;
  background-color: #223843;
}

h5, h6 {
  font-family: 'Mate SC', serif;
  font-size: 30px;
  text-align: center;
  color: #fff1e6;
  width: 100%;
  background-color: #223843;
}

main {
  padding: 0;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.navbar {
  padding: 0;
}

/*CSS DEL INDEX DE LA PAGINA*/
/* Titulo principal con imagen de fondo*/
.seccionCarrusel {
  margin-top: 2rem;
}

.fondosIndex {
  height: 96vh;
  background: no-repeat;
  background-size: cover;
}

.fondosIndex::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.4;
}

.tituloFondo {
  margin-bottom: 2rem;
}

.titulosImagenFondo {
  font-family: 'Mate SC', serif;
  font-size: 40px;
  text-align: center;
  color: white;
  width: 100%;
  background-color: none;
}

.botonFondo1 {
  background-color: salmon;
  color: white;
  font-weight: 600;
  padding: 1rem;
  border-radius: 20px;
  border: black solid 2px;
  font-size: 15px;
}

/*Seccion sobre mi*/
.seccionSobreMi {
  padding: 0;
}

.tituloSobreMi {
  margin-top: 2rem;
}

.sobreMiImg {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80vh;
}

.fotoNutricionista {
  width: 45rem;
  height: 30rem;
}

.sobreMiTexto {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* Servicios*/
.seccionServicios {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90vh;
}

.contenedorServicios {
  position: relative;
  width: 310px;
  height: 210px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contenedorServicios .clicMasInfo {
  opacity: 0;
}

.contenedorServicios:hover .textoDelServicio {
  margin-top: 40px;
  -webkit-transition: all 1.1s ease-out;
  transition: all 1.1s ease-out;
}

.contenedorServicios:hover .clicMasInfo {
  opacity: 1;
  max-width: 270px;
  margin: auto;
  font-size: 15px;
  -webkit-transition: all 1.1s ease-out;
  transition: all 1.1s ease-out;
}

.imgServicios {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.capaIndex {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  border-radius: 6px;
}

.textoDelServicio {
  font-family: 'Mate SC', serif;
  font-size: 25px;
  text-align: center;
  color: white;
  width: 100%;
  background-color: none;
  margin-top: 80px;
}

/*Contacto*/
.contenedorContacto {
  width: 100%;
}

.mapaConsultorio {
  width: 500px;
  height: 400px;
  margin: 2rem 0;
}

.direccionConsultorio {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.textoMapa {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
}

/*Footer*/
.botonWhatsapp {
  width: 7rem;
  position: fixed;
  bottom: 5%;
  right: 0;
}

/*CSS PAGINA SOBRE MI*/
.titPagSobreMi {
  margin-top: 5rem;
}

.porQueNutricion {
  margin-top: 2rem;
}

.sobreMi1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80vh;
}

.textoSobreMi {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
}

.fotoSobreMi1 {
  width: 45rem;
}

.sobreMi2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.fotoCemic {
  width: 30rem;
}

.sobreMi3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.garrahan {
  width: 38rem;
  margin-bottom: 2rem;
}

/* CSS PAGINA PLANES DE ALIMENTACIÓN */
.titPlanes {
  margin-top: 5rem;
}

.planesSeccion1, .planesSeccion3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.juliAtendiendo {
  width: 30rem;
  margin-bottom: 2rem;
}

.textosPlanes {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
  margin-top: 2rem;
}

.listaDePlanes ul li {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
  list-style: none;
}

.planesSeccion2, .planesSeccion4 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.planesImg2, .planesImg3, .planesImg4 {
  width: 35rem;
  height: 20rem;
  margin-bottom: 2rem;
}

.h3Consultorio {
  margin-top: 2rem;
}

.mapaConsultorio2 {
  width: 100%;
  height: 400px;
}

.textoMapa {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
}

.otrosServicios {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

/*CSS PAGINA ANTROPOMETRIAS*/
.tituloAntropometria {
  margin-top: 5rem;
}

.antroFotoIzquierda {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.fotoAntro {
  width: 45rem;
  height: 25rem;
  margin-bottom: 2rem;
}

.antroFotoADerecha {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.fotoGrasa, .fotoMusculo {
  width: 40rem;
  margin: 2rem 0;
}

.tituloMasaMuscular {
  margin-bottom: 3rem;
}

.textosAntro {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
  margin-top: 2rem;
}

.textoMasaMuscular {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*CSS PAGINA TALLERES DE ALIMENTACIÓN*/
.tituloTalleres {
  margin-top: 5rem;
}

.talleresFotoIzquierda {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.imgTalleres1, .imgTalleres2, .imgTalleres3 {
  width: 40rem;
}

.talleresFotoDerecha {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.textosTalleres {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
  margin-top: 2rem;
}

/*CSS PAGINA DE RESERVAR EL TURNO*/
.tituloReserva {
  margin-top: 6rem;
}

.contenedorReservas {
  width: 100%;
}

.cajaReservas {
  width: 40%;
}

.cajaReservas form {
  margin-bottom: 3rem;
}

.reservas {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  background-color: #223843;
  border-radius: 30px;
}

.reservas input {
  width: 60%;
  height: 1.5rem;
  font-family: 'Hind Vadodara', sans-serif;
  color: white;
  background-color: #223843;
  border: none;
  border-bottom: solid 1px white;
}

.reservas input:focus {
  outline: none;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 15px;
}

.reservas label {
  font-size: 15px;
  font-family: 'Hind Vadodara', sans-serif;
  font-weight: 600;
  color: white;
}

.h2Consultorio {
  margin-top: 2rem;
}

::-webkit-calendar-picker-indicator {
  background-color: white;
  border-radius: 50px;
}
/*# sourceMappingURL=main.css.map */