/*CSS PAGINA DE BENEFICIOS*/
.tituloComoTrabajo {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.recetasParteIzquierda {
    margin: 2rem 0;
}

.videoPanIntegral, .videoPizzaZanahoria {
    width: 35rem;
}

.recetasParteDerecha {
    @include flexbox (row-reverse);
    margin: 2rem 0;
}
.contenedorBeneficios {
    margin: 2rem 0;
}
.listaBeneficios {
    padding-left: 1rem;
    margin-top: 1rem;
    li{
        margin-top: 1rem;
        font-weight: 400;
    }
}
